body {
  margin: 0%;
}

@media (max-aspect-ratio: 7/10) {
    .joinPage{
        margin-top: 30vw !important;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
  .JoinContainer {
    width: 100% !important;

  }
  .joinContainer > img {
    width: 30vw !important;
  }
  .joinContainer > h1 {
    font-size: 6vw;
    width: 55vw !important;
    border-bottom: 0.6vmax solid white !important;
    padding: 3vw !important;
  }
  #joinInput {
    width: 65vw !important;
    padding: 4vw !important;
    font-size: 5vw ip !important;
    margin: 5vw !important;
  }
  .joinBtn {
    width: 65vw !important;
    padding: 4vw !important;
    font-size: 5vw ip !important;
  }
  .chatContainer {
    background-color: white;
    height: 100%;
    width: 100%;
  }
  .header {
    height: 15% !important;
  }
  .header > h2 {
    margin: 6vw !important;
    font-size: 5vw !important;
  }
.header img {
  margin: 6vw !important;
  transform: scale(2) !important;
}
.header > img:hover {
    transform: scale(3.2) !important;
    cursor: pointer;
  }
  .chatBox {
    /* border: 0.2vmax solid black; */
    height: 80% !important;
  }
  .inputBox {
    height: 10% !important;
  }
  #chatInput {
    padding: 4vw !important;
   font-size: 4vw !important;
  }
  .messageBox {
    /* width: 70% !important; */
    padding: 3vw !important;
    margin: 3vw !important;
    border-radius: 1.5vw !important;
    font-size: 3.5vw !important;
  }
}
